#good {
  background-color: green;
}

#not-ready {
  background-color: orange;
}

#ready {
  background-color: green;
}

#thirsty {
  background-color: orange;
}

#withering {
  background-color: red;
}